---
import Layout from '../layouts/Layout.astro'

import { getBlogs } from '../library/microcms'
import { convertEmoji } from '../utils/convertEmoji'
import { META_DESCRIPTION, META_TITLE } from './constants/meta'
import { ja } from 'date-fns/locale'
import { format } from 'date-fns'
const response = await getBlogs()
---

<Layout title={META_TITLE} description={META_DESCRIPTION}>
	<main class="flex-grow mx-auto">
		<ul class="flex justify-center flex-col gap-8">
			{
				response.contents.map((content) => (
					<li>
						<a href={`blog/${content.id}`} class="md:hover:opacity-70 flex items-center gap-4">
							<div class="text-5xl">{convertEmoji(content.thumbnail[0])}</div>
							<div class="px-2 grid gap-1">
								<span class="font-semibold ">{content.title}</span>
								<p class="text-xs text-gray-500">
									{format(content.publishedAt, 'yyyy年MM月dd日', { locale: ja })}
								</p>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
<style>
	main {
		padding: 1em;
		max-width: 60ch;
	}
</style>
