---
import Layout from '../layouts/Layout.astro'

import { getBlogs } from '../library/microcms'
import { convertEmoji } from '../utils/convertEmoji'
const response = await getBlogs()
const title = 'シミティーブログ'
const description =
	'30歳で工場勤務からWebエンジニアに転職した男性の、キャリアチェンジへの決意と葛藤。安定した仕事を捨てる覚悟、将来への不安、そして挑戦する勇気を赤裸々に語る転職体験記。未経験からのキャリアチェンジに悩む全ての人へのメッセージ。'
---

<Layout title={title} description={description}>
	<main class="flex-grow mx-auto">
		<ul class="flex justify-center flex-col gap-8">
			{
				response.contents.map((content: any) => (
					<li>
						<a href={content.id} class="md:hover:opacity-70 flex items-center gap-4">
							<div class="text-5xl">{convertEmoji(content.thumbnail[0])}</div>
							<div class="px-2 grid gap-1">
								<span class="text-md font-semibold ">{content.title}</span>
								<div class="text-xs text-gray-500">
									<time datetime={new Date(content.publishedAt).toISOString()}>
										{new Date(content.publishedAt).toLocaleDateString('ja-JP', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</div>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
<style>
	main {
		padding: 1em;
		max-width: 60ch;
	}
</style>
